<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>

<div class="sidebar">
    <div class="menu-bar">
        <a href="#"><i class="fas fa-bars"></i></a>
    </div>
    <a href="#"><i class="fas fa-comments"></i>All Chats</a>
    <a href="#"><i class="fas fa-bullhorn"></i>Top Channels</a>
    <a href="#"><i class="fas fa-link"></i>Fk Links</a>
    <a href="#"><i class="fas fa-edit"></i>Edits</a>
</div>
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    
    /* background-color: #f0f0f0; */
    /* color: #333; */
}
    .sidebar {
    height: 100%;
    width: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #26374B;
    padding-top: 20px;
    /* background-image: url(tele.jpg); */
    /* background-image: inherit; */
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #f3ebeb; 
    font-size: large;
}

.sidebar a:hover {
    background-color: #060606;
}

.sidebar i {
    margin-right: 15px;
}

.menu-bar {
    display: block;
    padding: 10px;
    /* margin-right: 5px; */
    text-decoration: none;
    color: #090808;
    /* align-items: center; */
    /* background-size: cover; */
}

.menu-bar i {
    margin-right: 10px;
}
.menu-bar a:hover{
background-color: #090808; 
}
</style>
</body>
</html>